.footer
  +size(100% auto)
  max-width: 1100px
  background-color: rgb(72, 72, 72)
  padding: 35px 0

  &-in
    +flex(space-between, center)
    +size(100% auto)
    max-width: 1100px

  &-items
    +flex()

    &-item
      color: #fff
      margin: 0 15px