.footer
  +absolute(null null 0 null)
  +size(100% 90px)
  background-color: rgb(72, 72, 72)
  padding: 35px 0
  margin-top: 100px

  &-in
    +flex(space-between, center)
    +size(95% 100%)
    margin: 0 auto

  &-items
    +flex()
    padding-left: 10px
    flex-wrap: wrap

    &-item
      font-size: 14px
      color: #fff
      transition: opacity 200ms
      width: 50%

      &:hover
        opacity: 0.7

  +media(600)
    &-items
      padding: 0
      flex-wrap: nowrap

      &-item
        width: auto
        margin-left: 30px
