.login
	margin-top: 90px

	&-btn
		&-method
			+sizes(100%, 50px)
			+flex(space-between, center)
			margin: 12px auto
			max-width: 400px
			color: #fff
			border-radius: 3px

			&-icon
				+sizes(50px, 100%)
				+flex(center, center)
				border-right: 1px solid rgba(#FFF, .4)
				font-size: 22px
			&-text
				flex-grow: 1
				text-align: center
				margin: 0

			&.view
				&-facebook
					background-color: #0072b9
				&-gmail
					background-color: #cc0000
				&-email
					background-color: #999999

	&-form
		max-width: 500px
		margin: 0 auto
		&-wrap
			margin-bottom: 20px

		&-label
			font-size: 16px
			color: $c-text

		&-input
			position: relative
			font-size: 22px

			&::before
				position: absolute
				top: 50%
				left: 10px
				transform: translateY(-50%)
				display: inline-block
				font: normal normal normal 14px/1 FontAwesome
				font-size: inherit
				text-rendering: auto

			&-in
				+sizes(100%, 45px)
				max-width: 500px
				border: 1px solid #OOO
				font-size: 16px
				padding-left: 32px

			&.view-username::before
					content: '\f007'
			&.view-password::before
					content: '\f13e'

		&-backup
			+flex(space-between, center)
			margin: 25px 0

		&-buttons
			+flex(space-between, center, column-reverse)

			&-submit,
			&-new
				+sizes(100%, 45px)
				margin: 3px 0

			&-new
				$btnColor: rgb(241,171,60)
				+flex(center, center)
				border: 2px solid $btnColor
				background-color: $btnColor
				color: #fff
				transition: 300ms

				&:hover
					background-color: #fff
					color: $btnColor

			&-submit
				border: 2px solid $c-main
				background-color: $c-main
				color: #fff
				cursor: pointer
				transition: 300ms

				&:hover
					background-color: #fff
					color: $c-main

			+media(480)
				+flex(space-between, center, row)

				&-submit,
				&-new
					+sizes(48%, 45px)
					max-width: 250px
					margin: 0



