.option

  &-item
    +relative()
    &:nth-child(1n + 2)
      margin-top: 15px
    &-in
      +flex(flex-start)

  &-icon
    +flex(center, center)
    +size(50px)
    background: $c-main
    color: #fff
    font-size: 22px
    cursor: pointer

  &-input
    flex-grow: 1

    &-in
      +size(100% 50px)
      border: 2px solid #f1f1f1
      padding: 0 100px 0 10px

      &.view-area
        +size(100% 150px)
        padding-top: 10px

  &-text
    margin: 0
    font-size: 18px
    padding-left: 15px
    padding-right: 50px
    color: $c-main
    align-self: center

  &-tools
    +flex()
    +absolute(0 0 null null)

    &-item
      +flex(center, center)
      +size(50px)
      font-size: 30px
      cursor: pointer

      &.view-info
        background-color: #f1f1f1
        color: black

      &.view-delete
        background-color: #dad9d8
        color: red

      &.view-rewrite
        background-color: #4aa33f
        color: white

        i
          margin-right: -5px

  &-checkpoint
    margin-top: 5px

    &-map
      +flex(center, center)
      +size(100% 150px)
      overflow: hidden

      &-img
        +size(100% auto)

      &-loading
        color: inherit

      &-text
        margin: 0
        padding-left: 15px
        font-style: italic

  &-paths
    max-width: 350px
    margin: -5px
    margin-top: 0px

    &-in
      +flex(center)
      flex-wrap: wrap

    &-texts
      padding-left: 15px
      font-weight: bold
      font-size: 14px

    &-item
      +flex(center, center)
      +size(60px)
      font-size: 30px
      margin: 5px
      border: 1px solid #f1f1f1
      cursor: pointer

      &.active
        color: black
        border: 3px solid $c-main

  &-stars
    +flex(center, center)

    &-fieldset
      padding: 0 0 0 20px
      border: none

    &-input
      display: none

      &:checked ~ label
        color: $c-main

    &-label
      padding: 5px
      font-size: 22px
      +relative()
      color: #dad9d8
      float: right

      &:hover,
      &:hover ~ &
        color: #4186ce

  &-money
    +flex(flex-start, center)
    +size(calc(100% - 150px) auto)
    &-wrap
      +flex(center, center)
      width: 50%

    &-input
      +size(100% 50px)
      flex-grow: 1
      border: 1px solid #f1f1f1

    &-label
      margin: 0
      padding: 0 10px

  &-currency
    +flex(flex-end, center)
    +size(100% auto)
    margin-top: 10px

    &-text
      padding: 0 20px

    &-select
      +size(60% 50px)
      border: 1px solid #f1f1f1
      background: none
      box-shadow: none

  &-add
    &-wrap
      +size(100% auto)
      +flex(flex-start, center)
      +relative()

    &-icon
      +flex(center, center)
      +size(50px 50px)
      background: #4aa33f
      color: white
      font-size: 22px

      i
        margin-top: -5px

    &-plus
      +flex(center, center)
      +absolute(50% 25px null null)
      transform: translateY(-50%)
      color: #4aa33f
      font-size: 25px
      z-index: 1

    &-select
      +size(100% 50px)
      +relative()
      z-index: 2
      background: none

      &.btn-group.bootstrap-select.option-add-select
        height: 100%

      span.filter-option.pull-left
        line-height: 33px

  &-images
    &.active &
      &-item:nth-child(n + 2)
        display: none

    &-item
      +size(100%)
      +flex(flex-start, center)
      border: 1px solid #f1f1f1
      height: 200px

      &-image
        +relative()
        +size(80% 100%)
        overflow: hidden

        &-img
          +absolute(50% null null 0)
          transform: translateY(-50%)
          max-width: none
          max-height: 100%

      &-delete
        +flex(center, center)
        +size(80px)
        background: #dad9d8
        color: red
        border-radius: 50%
        font-size: 40px
        cursor: pointer

  &-upload
    +flex(center, center)
    +size(100%)
    padding: 30px 10px
    border: 1px solid #f1f1f1

    &-input
      +size(100% 50px)
      flex-grow: 1
      border: 1px solid #f1f1f1
      padding-left: 15px

    &-btn
      padding: 5px 35px
      width: auto !important
      margin: 0 !important

  +media(500)
    &-paths
      max-width: 450px
      &-item
        +size(80px)

.imagesHide.active
  .fa-angle-down
    transform: rotate(180deg)

.fa-angle-down
  transition: 300ms

