.sidemenu
  +fixed(0)
  +size(50% 100%)
  background: #1a3550
  transition: 400ms
  overflow-y: auto
  transform: translateX(-100%)
  z-index: 1000
  min-width: 300px

  &.active
    transform: none
  &.active + &
    &-overlay
      opacity: 1
      pointer-events: all

  &-items
    background: #1f4369
    padding: 90px 0 30px 30px
    border-bottom: 10px solid rgba(#fff, .2)

  &-item
    display: block
    color: #fff
    font-size: 25px
    transition: 300ms
    margin: 15px 0
    font-weight: bold

    &:hover
      color: white
      opacity: 0.7

  &-links
    border-bottom: 1px solid #000

    &-item
      +size(100% auto)
      +flex(flex-start, center)
      color: #fff
      padding: 15px 30px
      transition: 300ms
      border-top: 1px solid #000
      border-bottom: 1px solid rgba(#fff, .3)

      &:hover
        background: rgba(#fff, .1)

      &:first-child
        border-top: none

      &-icon
        +sizes(50px, 50px)
        min-width: 50px
        +flex(center, center)
        border-radius: 50%
        font-size: 20px
        color: white
        margin-right: 15px
        border: 2px solid #fff

      &-text
        font-size: 18px

  &-overlay
    +absolute(0 null null 0)
    +size(100%)
    z-index: 999
    background-color: rgba(#000, .7)
    pointer-events: none
    opacity: 0
    transition: 300ms

