.sidemenu
  +fixed(0)
  +size(50% 100%)
  +flex()
  padding-left: 30px
  background: $c-main
  transition: 400ms
  overflow-y: auto
  transform: translateX(-100%)
  z-index: 1000
  min-width: 300px

  &.active
    transform: none
  &.active + &
    &-overlay
      opacity: 1
      pointer-events: all

  &-items
    margin-top: 150px

  &-item
    display: block
    color: #fff
    font-size: 25px
    text-transform: uppercase
    transition: 300ms
    margin-bottom: 5px

    &:hover
      color: white
      opacity: 0.7

  &-overlay
    +absolute(0 null null 0)
    +size(100%)
    z-index: 999
    background-color: rgba(#000, .7)
    pointer-events: none
    opacity: 0
    transition: 300ms

