.steps

  &-title
    color: $c-main
    margin: 0
    padding: 10px 0 0 10px
    font-size: 18px
    font-weight: 400

  &-video
    video
      display: block

  &-inputs
    padding-top: 10px

    &:nth-child(3)
      padding: 15px 0
      border-bottom: 1px solid #f1f1f1

    &-label
      font-size: 18px
      color: $c-main

    &-input
      +size(100% 50px)
      border: 1px solid #f1f1f1
      padding-left: 15px
      margin-top: 5px

    &-dates
      +flex(space-between, center)
      margin-top: 5px

      &-date
        +size(100% 50px)
        border: 1px solid #f1f1f1
        padding-left: 15px
        margin: 0 5px

  &-days
    &-title
      width: 100%
      padding: 10px 15px
      margin: 0
      color: #fff
      background-color: rgb(195,196,197)

    &-items
      +flex(space-between, center)
      +size(100% 50px)
      margin-bottom: 14px
      background-color: #fff

      &-wrapper
        +flex(flex-start, center)
        +size(100% 50px)

      &-item
        +flex(center, center, column)
        +size(50px 100%)
        +relative()
        margin: 0
        text-align: center
        color: $c-text

        &::before
          content: ''
          +absolute(calc(100% - 10px) null null 50%)
          transform: translateX(-50%) rotate(45deg)
          +size(20px)
          background-color: rgb(195,196,197)
          display: none
          z-index: -1

        span
          display: block
          margin-top: -5px

        &.active-item
          color: #fff
          background-color: rgb(195,196,197)

          &::before
            display: block

      &-add
        +flex(center, center)
        +size(43px)
        margin-right: 5px
        background-color: #4aa33f
        justify-self: flex-end
        color: #fff

  &-current
    +flex(space-between, center)
    width: 100%
    color: #fff
    background-color: rgb(195,196,197)
    padding: 10px 15px

    &-wrapper
      +flex(center, center)

    &-title,
    &-start
      margin: 0
      font-size: 18px

    &-title
      padding-left: 10px

  &-add
    +flex(center, center, column)
    +size(80px)
    border-radius: 50%
    background-color: $c-main
    color: #fff
    font-size: 20px
    margin: 15px auto
    cursor: pointer

    &.view-path
      +size(50px)
      font-size: 15px
      margin: 0
      margin-left: auto
      margin-right: 15px

    &.view-path &
      &-location
        font-size: 26px

    &-plus
      opacity: .7

    &-location
      height: auto
      font-size: 45px

  &-process
    background: white
    padding: 5px

  &-paths
    +flex(flex-start, center)

    &-path
      +relative()
      +size(50px)
      +flex(center, center)
      font-size: 22px
      color: white
      background-color: rgb(195,196,197)
      margin: 15px 0 15px 5px

      &::before
        +absolute(50% null null 50%)
        transform: translate(-50%, -50%)
        +size(3px calc(100% + 30px))
        content: ""
        z-index: -1
        background: inherit

    &-text
      margin: 0
      padding-left: 15px
      font-weight: bold
      font-size: 18px

  &-finishbox
    background: white
    padding: 5px 15px 15px
    margin-top: 5px

    &-title
      margin: 0 0 10px
      padding: 10px 0 15px
      border-bottom: 2px dashed $c-text-light

    &-text
      font-size: 13px

    &-buttons
      +flex(space-between, center)
      flex-wrap: wrap
      +size(100% auto)

      &-save,
      &-next
        +flex(center, center)
        +size(100% 50px)
        border-radius: 3px
        font-size: 22px
        color: #fff
        margin-bottom: 5px

      &-save
        background: #4186ce

        &::before
          content: "\f0c7"
          display: inline-block
          font: normal normal normal 14px/1 FontAwesome
          font-size: 20px
          text-rendering: auto
          margin-right: 10px

      &-next
        color: #fff
        background: $c-main

  &-next
    +flex(flex-start, center)
    +size(100% 60px)
    background: $c-main
    margin-top: 5px
    color: white
    font-size: 27px
    padding: 5px 10px

    &:hover &
      &-info
        &-icon
          transform: translateX(10px)

    &-info
      margin: 0 auto
      +flex(center, center)

      &-text
        margin: 0
        margin-right: 20px
        font-size: 23px

      &-icon
        transition: 200ms

  &-speed
    border-bottom: 1px solid #f1f1f1
    padding-bottom: 20px

    &-wrap
      +flex(center, center)
      margin-top: 20px

    &-slider
      +relative()
      +size(60% 7px)
      border-radius: 3px
      background: #4186ce
      margin: 0 40px

      &-handle
        +flex(center, center)
        +size(60px 30px)
        +absolute(50% null null null)
        transform: translate(-50%, -50%)
        background: $c-main
        border-radius: 15px
        color: white
        outline: none

    &-icon
      font-size: 30px

  &-music
    padding-top: 5px

    &-wrap
      +flex(flex-start, center)
      margin-top: 15px
      margin-left: 10px

    &-select
      +size(50% 50px)
      background: none
      border: 1px solid #f1f1f1
      font-size: 15px

    &-button
      +size(auto 50px)
      +flex(center, center)
      color: white
      background: $c-main
      padding: 0 45px
      margin-left: 10px
      border-radius: 3px

    &-item
      +flex(flex-start, center)
      margin-top: 5px
      margin-left: 10px
      font-size: 40px

      &-text
        margin: 0
        margin-left: 20px
        font-size: 15px

  &-transparent
    margin-bottom: 10px

    &-item
      +flex(flex-start, center)
      margin: 20px 0 0 10px

      &-icon
        +flex(center, center)
        +size(50px)
        border-radius: 50%
        background: #f1f1f1
        margin: 0 15px
        font-size: 25px
        color: black

      &-info
        &-title
          margin: 0
          padding-bottom: 5px
          font-size: 17px

        &-text
          margin: 0
          font-size: 14px

  +media(500)
    &-finishbox
      &-buttons
        flex-wrap: nowrap

        &-save,
        &-next
          +size(48% 50px)
          margin: 0


