extends layouts/section

append vars
    - var title = "Friends"
    - var sectionTitle = "Friends"
    - var sectionText = "Vytvářejte videa z dovolené a nastavujte si práva, kdo může video vidět. Vše zdarma. Pokud si nebudete vědět rady, můžete využít tutorial, který vám pomůže."
    - var sectionTrio = {links: ["Přátelé", "Sleduji", "Mě sleduje"]}

block sectionPicture
    .section-heading-picture.view-friends
        i(aria-hidden="true").fa.fa-users.section-heading-picture-font.view-smaller

block afterTrioContent
    .friends
        a(href="#").friends-item
            p.friends-item-name John Simons
            .friends-item-picture
                img(src="https://picsum.photos/200").friends-item-picture-img
        a(href="#").friends-item
            p.friends-item-name John Simons
            .friends-item-picture
                img(src="https://picsum.photos/200").friends-item-picture-img
        a(href="#").friends-item
            p.friends-item-name John Simons
            .friends-item-picture
                img(src="https://picsum.photos/200").friends-item-picture-img