extends layouts/default

append vars
	- var page = 'index'

block content
	div.banner
		.banner-in
			h1.banner-title Share your travel trip
			p.banner-text Create roadtrip map, slideshow video from holiday free.

			a(href='/login-first.html').btnCore.view-envelope.banner-btn ENTER

	div.section
		div.section-in
			div.section-heading
					h1.section-heading-title Nejnovější veřejná videa









