extends layouts/default

append vars
	- var page = 'index'

block content
	div.banner
		a(href='/login-first.html').btn.view-envelope= 'Přihlásit se'

	div.section
		div.section-heading
				h1.section-heading-title= "Nejnovější veřejná videa"









