extends layouts/default

append vars
	- var page = 'index'

block content
	div.banner
		.banner-in
			h1.banner-title Share your travel trip
			p.banner-text Create roadtrip map, slideshow video from holiday free.

			a(href='/login-first.html').btnCore.view-envelope.banner-btn ENTER

	div.section
		div.section-in
			div.section-heading
					h1.section-heading-title Nejnovější veřejná videa

			.video
				a(href="").video-src
					.video-image
						img(src="images/way.jpg").video-image-img
						.video-overlay
						.video-button
							i(aria-hidden="true").fa.fa-play

				p.video-text NEW YEAR: New York, USA to Stockholm, Sweden for only $273 roudtrip









