extends layouts/section

append vars
    - var title = "Movie Holiday"
    - var sectionTitle = "Movie Holiday"
    - var sectionText = "Vytvářejte videa z dovolené a nastavujte si práva, kdo může video vidět. Vše zdarma. Pokud si nebudete vědět rady, můžete využít tutorial, který vám pomůže."
    - var sectionTrio = {links: ["Vlastní zájezdy", "Koncepty", "Oblíbené"]}

block sectionPicture
    .section-heading-picture.view-movie
        i(aria-hidden="true").fa.fa-video-camera.section-heading-picture-font.view-smaller

block sectionOuterContent
    .movieholiday-wrapper
        .movieholiday-wrapper-in
            a(href="#").movieholiday-button
                p.movieholiday-button-text Create
                .movieholiday-button-plus
                    i(aria-hidden="true").fa.fa-plus
                p.movieholiday-button-text movie

block afterTrioContent
    .movieholiday
        .video
            video(controls).video-src
                source(src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/576/8/202884524/687898845.mp4?token=1509221476-0xb9a1af6c5db68fad2b64ebf48ec5cff951b8f994" type="video/mp4")
            p.video-text NEW YEAR: New York, USA to Stockholm, Sweden for only $273 roudtrip

        p.movieholiday-private
            strong Soukromé:
            |
            |
            |  Holiday route vidí pouze uživatelé s url odkazem

        .movieholiday-edit
            a(href="").btn.movieholiday-edit-btn Editovat