footer.footer
    .footer-in
        a(href="").footer-logo
            img(src="").footer-logo-img
        .footer-items
            a(href="").footer-items-item Home
            a(href="").footer-items-item O službě
            a(href="").footer-items-item Registrace
            a(href="").footer-items-item Support