div.menu
	div.menu-nav
		div.menu-nav-bars
			div.menu-nav-bar
			div.menu-nav-bar
			div.menu-nav-bar
		div.menu-nav-logo
			img

	div.menu-links
		a(href="/profile.html").menu-links-item
			i(aria-hidden="true").fa.fa-user-circle.menu-links-item-i
		a(href="#").menu-links-item
			i(aria-hidden="true").fa.fa-share-alt.menu-links-item-i
