extends default

block content
	.section
		.section-in
			.section-heading
				h1.section-heading-title= sectionTitle
				p.section-heading-path Home >
					|
					|
					a(href="#") John Simones
					|
					| >
					|
					|
					a(href="#")  Název něčeho čehosi...

				block sectionPicture

			a(href="#").section-return.btn Zpět

			if sectionText
				p.section-text= sectionText

			block sectionContent

		block sectionOuterContent

		if sectionTrio
			.section-trio
				.section-trio-links
					a(href="#").section-trio-links-item.active-item= sectionTrio.links[0]
					a(href="#").section-trio-links-item= sectionTrio.links[1]
					a(href="#").section-trio-links-item= sectionTrio.links[2]
				.section-trio-line

			block afterTrioContent

	block otherContent

