extends default

block content
	.section
		.section-heading
			h1.section-heading-title= sectionTitle

			div.section-heading-picture
				block sectionPicture

		block sectionContent

	block otherContent